/* Break Point */
@media (min-width: 0px) {
    #weather { font-size: 16px; }
    #greeting { font-size: 32px; }
    #clock { font-size: 80px; }
    #quote { font-size: 16px; }
}

@media (min-width: 767px) {
    #weather { font-size: 20px; }
    #greeting { font-size: 42px; }
    #clock { font-size: 100px; }
    #quote { font-size: 20px; }
}

@media (min-width: 1023px) {
    #weather { font-size: 20px; }
    #greeting { font-size: 52px; }
    #clock { font-size: 120px; }
    #quote { font-size: 20px; }
}

* {
    margin: 0;
    padding: 0;
}

#container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hidden {
    display: none;
}

#greeting {
    text-align: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: aliceblue;
    font-family: 'Lobster', cursive;
}

#login-form {
    position: absolute;
    top: 7%;
    right: 10%;
    transform: translate(-50%, -50%);
}

#login-input {
    height: 23px;
    width: 180px;
}

#loginBtn {
    position: absolute;
    top: 55%;
    transform: translate(-50%, -50%);
    display: inline-block;
}

#clock {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: azure;
    font-family: 'Yatra One', cursive;
}

#todo-form {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#todo-input {
    width: 220px;
    height: 23px;
    text-align: center;
}

#todo-list {
    position: absolute;
    top: 72%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: azure;
    font-family: 'Lobster', cursive;
    font-size: 20px;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

#quote {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: aliceblue;
    font-family: 'Noto Sans KR', sans-serif;
    font-style: italic;
    display: flex;
    flex-direction: column;
}

#weather {
    position: absolute;
    top: 5%;
    right: 2%;
    color: antiquewhite;
    font-family: 'Noto Sans KR', sans-serif;
    display: flex;
    flex-direction: column;
}

span {
    display: inline-block;
    text-align: center;
}

input {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px, aliceblue;
    background-color: transparent;
    color: aliceblue;
    font-size: 18px;
    font-weight: 700;
}

input:focus {
    outline: none;
    color: aliceblue;
}

input::placeholder {
    color:azure;
    font-size: 16px;
    font-weight: 100;
}

/* input::-webkit-input-placeholder { color: aliceblue; } */