/* scss 작성 연습해보기
// Break Point
$tablet: 768px;
$laptop: 1020px;
$desktop: 1400px;


// Mixins
@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}

@mixin laptop {
    @media (min-width: #{$laptop}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$tablet}) {
        @content;
    }
}
*/